################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TheDroveDownloader
/bin
/obj
.idea/
/releases
/.vs/TheTroveDownloader/config/applicationhost.config
/.vs/TheTroveDownloader/DesignTimeBuild/.dtbcache.v2
/.vs/TheTroveDownloader/v16/TestStore/0/000.testlog
/.vs/TheTroveDownloader/v16/TestStore/0/testlog.manifest
/.vs/TheTroveDownloader/v16/.suo
