################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TheDroveDownloader
/bin
/obj
.idea/
/releases